<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" th:inline="javascript">
			function getUnread(){
				$.ajax({
					type: "POST",
					url: "./chatUnread",
					data: {
						userID: encodeURIComponent(/*[[${session.userID}]]*/),
					},
					success: function(result){
						if(result >= 1){
							showUnread(result);
						}else{
							showUnread('');
						}
					}
				});
			}

			function getInfiniteUnread(){
				setInterval (function(){
					getUnread();
				},4000);
			}
			function showUnread(result){
				$('#unread').html(result);
			}
		</script>




    <title>title</title>
</head>
<body>


    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>



            <a class="navbar-brand" href="/">실시간 회원제 채팅 서비스</a>


        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="/">메인</a></li>
                <li><a href="/find">친구찾기</a></li>
                <li><a href="/box">메시지함<span id="unread" class="label label-info"></span></a></li>
                <li class="active"><a href="/boardView">자유게시판</a></li>



            </ul>




            <ul th:if="${session.userID==null}"  class ="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">접속하기<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                    </ul>
                </li>

            </ul>


            <ul th:unless="${session.userID==null}" class ="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">회원관리<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/update">회원정보수정</a></li>
                        <li><a href="/profileUpdate">프로필 수정</a></li>
                        <li><a href="/logoutAction">로그아웃</a></li>

                    </ul>
                </li>

            </ul>
        </div>

    </nav>


    <div class="container">
        <table class="table table-bordered table-hover" style="text-align: center; border:1px solid #dddddd">
            <thead>
            <tr>
                <th colspan="5"><h4>자유 게시판</h4></th>
            </tr>
            <tr>
                <th style="background-color:#fafafa; color:#000000; width:70px;"><h5>번호</h5></th>
                <th style="background-color:#fafafa; color:#000000;"><h5>제목</h5></th>
                <th style="background-color:#fafafa; color:#000000;"><h5>작성자</h5></th>
                <th style="background-color:#fafafa; color:#000000; width: 100px;"><h5>작성 날짜</h5></th>
                <th style="background-color:#fafafa; color:#000000; width: 70px;"><h5>조회수</h5></th>

            </tr>
            </thead>
            <tbody th:inline="text">


            <th:block th:with="boardList=${session.boardService.getList(session.pageNumber)}">
            <th:block th:if="${session.boardTitle.equals('')}"  th:each="board: ${boardList}">

            <tr th:with="boardID=${board.getBoardID()},count=${session.commentService.commentCount(boardID)},board2=${session.boardService.getBoard(boardID)}">
                <td>[[${boardID}]]</td>
                <td>
                    <a th:href="@{boardShow(boardID=${boardID})}">




                        <th:block th:if="${board.getBoardLevel() > 0}" th:each="num : ${#numbers.sequence(1,board.getBoardLevel())}">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </th:block>

                        [[${board.getBoardAvailable() == 0 ? '삭제된 게시물입니다.' : board2.getBoardTitle()}]]





                    </a><span th:text="'[' + ${count} + ']'"></span></td>
                <td>[[${board.getUserID()}]]</td>
                <td>[[${board.getBoardDate().substring(0,10)}]]</td>
                <td>[[${board.getBoardHit()}]]</td>

            </tr>


            </th:block>
            </th:block>





            <th:block th:unless="${session.boardTitle.equals('')}"  th:with="boardList=${session.boardService.search(session.boardTitle)}, s=${(session.pageNumber-1)*10}, size=${boardList.size() > session.pageNumber * 10 ? 10 : boardList.size()}">



            <th:block th:if="${boardList.size() > 0}" th:each=" i : ${#numbers.sequence(0,size-1)}">

            <tr th:with="board=${boardList.get(i + s)}, boardID = ${board.getBoardID()}, count=${session.commentService.commentCount(board.getBoardID())},board2=${session.boardService.getBoard(boardID)}">
                <td>[[${boardID}]]</td>
                <td>
                    <a th:href="@{boardShow(boardID=${boardID})}">


                        <th:block th:if="${board.getBoardLevel() > 0}" th:each="num : ${#numbers.sequence(1,board.getBoardLevel())}">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </th:block>

                        [[${board.getBoardAvailable() == 0 ? '삭제된 게시물입니다.' : board2.getBoardTitle()}]]


                    </a><span th:text="'[' + ${count} + ']'"></span></td>
                <td>[[${board.getUserID()}]]</td>
                <td>[[${board.getBoardDate().substring(0,10)}]]</td>
                <td>[[${board.getBoardHit()}]]</td>

            </tr>

            </th:block>


            </th:block>
















            <tr>
                <td colspan="5">
                    <a href="./boardWrite" class="btn btn-primary pull-right">글쓰기</a>
                    <ul class="pagination" style="margin: 0 auto;" th:with="startPage=${session.pageNumber % 10 == 0 ? (session.pageNumber/10) *10 +1 -10 : (session.pageNumber/10) *10 +1}">



                        <th:block th:if="${session.boardTitle.equals('')}" th:with="targetPage=${session.boardService.targetPage(session.pageNumber)}">

                                       <!-- <<<  -->
                        <li th:if="${startPage != 1}"><a th:href="@{boardView(pageNumber=${startPage-1})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>


                            <li th:unless="${startPage != 1}"><span class="glyphicon glyphicon-chevron-left" style="color:gray;"></span></li>



                                <!--     <<-pageNum    -->
                        <th:block  th:if="${startPage < session.pageNumber}" th:each="i : ${#numbers.sequence(startPage,session.pageNumber-1)}">
                        <li><a th:href="@{boardView(pageNumber=${i})}">[[${i}]]</a></li>
                        </th:block>

                                <!--        pageNum      -->
                        <li class="active"><a th:href="@{boardView(pageNumber=${session.pageNumber})}">[[${session.pageNumber}]]</a></li>


                            <!--     pageNum->>       -->
                        <th:block  th:if="${targetPage > session.pageNumber - 1}" th:each=" i : ${#numbers.sequence(session.pageNumber + 1, targetPage + session.pageNumber)}">

                        <li th:if="${i < startPage+10}"><a th:href="@{boardView(pageNumber=${i})}">[[${i}]]</a></li>


                        </th:block>

                             <!--   >>>    -->
                        <li th:if="${targetPage + session.pageNumber > startPage + 9}"><a th:href="@{boardView(pageNumber=${startPage + 10})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>


                            <li th:unless="${targetPage + session.pageNumber > startPage + 9}"><span class="glyphicon glyphicon-chevron-right" style="color:gray;"></span></li>



                        </th:block>













                           <!-- 검색-->
                        <th:block th:unless="${session.boardTitle.equals('')}" th:with="targetPage=${session.boardService.searchTargetPage(session.pageNumber,session.boardTitle)}" >




                          <!--  <<<   -->
                        <li th:if="${startPage != 1}"><a th:href="@{boardView(pageNumber=${startPage - 1},boardTitle=${session.boardTitle})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>



                        <li th:unless="${startPage != 1}"><span class="glyphicon glyphicon-chevron-left" style="color:gray;"></span></li>





                         <!--    <<- pageNum      -->
                        <th:block th:if="${startPage < session.pageNumber}" th:each="i : ${#numbers.sequence(startPage,session.pageNumber-1)}">
                        <li><a th:href="@{boardView(pageNumber=${i},boardTitle=${session.boardTitle})}">[[${i}]]</a></li>
                        </th:block>


                           <!--         pageNum      -->
                        <li class="active"><a th:href="@{boardView(pageNumber=${session.pageNumber},boardTitle=${session.boardTitle})}">[[${session.pageNumber}]]</a></li>




                             <!--     pageNum ->>    -->
                            <th:block th:if="${targetPage > session.pageNumber - 1}"  th:each="i : ${#numbers.sequence(session.pageNumber+1,targetPage + session.pageNumber)}">

                        <li th:if="${i < startPage +10}"><a th:href="@{boardView(pageNumber=${i},boardTitle=${session.boardTitle})}">[[${i}]]</a></li>

                           </th:block>



                                    <!--        >>>        -->
                        <li th:if="${targetPage + session.pageNumber > startPage + 9}"><a th:href="@{boardView(pageNumber=${startPage + 10},boardTitle=${session.boardTitle})"><span class="glyphicon glyphicon-chevron-right"></span></a></li>


                        <li th:unless="${targetPage + session.pageNumber > startPage + 9}"><span class="glyphicon glyphicon-chevron-right" style="color:gray;"></span></li>

                        </th:block>

                    </ul>
















                    <div class="form-group row pull-right">
                        <form method="get" action="./boardView">
                            <div class=col-xs-8>
                                <input class="form-control" id="boardTitle" name="boardTitle" type="text" size="20">

                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" type="submit" >검색</button>
                            </div>
                        </form>

                    </div>

                </td>
            </tr>
            </tbody>

        </table>

    </div>










   <th:block th:if="${session.messageContent != null}">

        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content" th:classappend="${session.messageType.equals('오류 메시지') ? 'panel-warning' : 'panel-success'}">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 th:text="${session.messageType}" class="modal-title">
                        </h4>
                    </div>
                    <div th:text="${session.messageContent}" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                    </div>

                </div>
            </div>
        </div>
        </div>

        <script>
			$('#messageModal').modal("show");
		</script>

    </th:block>



        <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div id="checkType" class="modal-content panel-info">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">
                                확인 메시지
                            </h4>
                        </div>
                        <div id="checkMessage" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

<script th:if="${session.userID!=null}" type="text/javascript">
				$(document).ready(function(){
					getUnread();
					getInfiniteUnread();
				});
	</script>


</body>
</html>